URxvt.font: xft:Hack:pixelsize=12:antialias=true:autohint=true
rofi.font: San Francisco Display 10
Xft.dpi:                        96
Xft.antialias:                  1
Xft.autohint:                   1
Xft.hinting:                    1
Xft.hintstyle:                  hintslight
Xft.lcdfilter:                  lcdlight
Xft.rgba:                       rgb
URxvt*termName:                 rxvt-256color
URxvt.depth:                    32
URxvt*lineSpace:                1
URxvt.letterSpace:              -1
URxvt.iso14755:                 false
URxvt.iso14755_52:              false
URxvt*geometry:                 65x17
URxvt.scrollBar:                false
URxvt*loginShell:               true
URxvt.internalBorder:           25
URxvt.perl-ext:	 		default,matcher
URxvt.url-launcher:             firefox
URxvt.matcher.button: 		1

! special
*.foreground:   #ffffff
*.background:   #000000
*.cursorColor:  #ffffff

! black
*.color0:       #282828
*.color8:       #928374

! red
*.color1:       #f7a8b8
*.color9:       #d60270

! green
*.color2:       #98971a
*.color10:      #dfd73e

! yellow
*.color3:       #fff430
*.color11:      #0038a8

! blue
*.color4:       #458588
*.color12:      #9c59d1

! magenta
*.color5:       #b16286
*.color13:      #d3869b

! cyan
*.color6:       #55cdfc
*.color14:      #9b4f96

! white
*.color7:       #a89984
*.color15:      #ffffff

st.termname: st-256color
st.shell: /bin/zsh
! The following options options can be reloaded via USR1 signal.
st.font:  Hack:pixelsize=12:antialias=true:autohint=true;
st.borderpx:          8
! Available cursor values: 2 4 6 7 = █ _ | ☃ ( 1 3 5 are blinking versions)
st.cursorshape:       2
! thickness of underline and bar cursors
st.cursorthickness:   2
! 0: normal blinking, 1: leave cursor border and blink with cursors background
st.cursorblinkstyle:  0
! 0: cursor blinks with a constant interval; 1: blinking cycle resets on key input
st.cursorblinkontype: 1
st.bold_font:         0
st.xfps:              120
st.actionfps:         30
! Amount of lines scrolled
st.mouseScrollLines:  1
! Kerning / character bounding-box height multiplier
st.chscale:           1.0
! Kerning / character bounding-box width multiplier
st.cwscale:           1.0
! blinking timeout for terminal and cursor blinking (0 disables)
st.blinktimeout:      800
! bell volume. Value between -100 and 100. (0 disables)
st.bellvolume:        0
! this is a char that is exposed like so: `printf '\033[z'`
st.prompt_char:       $
! This option is can be preedit style. Available values: `root` `overthespot` (Default taken `root`)
st.imstyle: root
! opacity==255 means what terminal will be not transparent, 0 - fully transparent
st.opacity: 200

! Set depth to make transparency work.
URxvt*depth: 32
